*{
    padding: 0;
    margin: 0;
}
img{
    width: 60px;
    height: 60px;
 }
.navbar{
    height: 50px;
    background-color: #98c4f1;
    display: flex;
    justify-content: space-between;
}
h3{
    padding-top: 20px;
    font-size: 20px;
    font-family:sans-serif;
    
    color: #ffffff;
}
button{
    font-weight: bold;
margin: 15px;
background-color: #5498e4;
border-radius: 8px;
color: #fff;
padding: 3px;
width: 85px;
border: none;
}

.body{
    border-radius: 10px;
    background-color:#98c4f1 ;
    width: 500px;
    height: 310px;
    margin: auto;
    margin-top: 150px;
}

.body h2{
    color: #ffffff;
    font-weight:bold;
    font-size: 17px;
    padding-top: 37px;
    padding-left: 29px;
    font-family: sans-serif;
}

.body h1{
    color: #ffffff;
    font-weight:bold;
    font-size: 20px;
    padding-top: 17px;
    padding-left: 29px;
    font-family: sans-serif;
}

.body .answer{
    background-color: #ffffff;
    width: 390px;
    height: 160px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 29px;
}
.answer input{
    width: 390px;
    height: 160px;
    border: none;
    border-radius: 10px;
}

.nextQuistion button{
   
    width: 160px;
    height: 40px;
    margin-left: 600px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    padding:10px;
    background-color:#5498e4;
    border-radius: 8px;
    color: #fff;
    border: none;
    
    
}