<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Question Page</title>
    <link rel="stylesheet" href="../statics/css/4.css">
</head>
<body>
    <section class="header">
        <div class="navbar">
          <div class="img"> <img src="../statics/images/logo (1).png" alt="logo"></div>
          <div class="text"> <h3> Exams Center</h3></div>
          <div class="logOut"><button>Log Out</button></div>
        </div>

    </section>

    <section class="body">
        <h2>Q1:What is data mining?</h2>
        <h1>Answer:</h1>

        <div class="answer">
            <input type="text">

        </div>
    </section>

    <section class="nextQuistion">
        <button class="next"> Next Question</button>

    </section>

    



</body>
</html>