<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result page</title>
    <link rel="stylesheet" href="../statics/css/5.css">
</head>
<body>
    <section class="header">
        <div class="navbar">
          <div class="img"> <img src="../statics/images/logo (1).png" alt="logo"></div>
          <div class="text"> <h3> Exams Center</h3></div>
          <div class="logOut"><button>Log Out</button></div>
        </div>

    </section>

    <section class="result">
        <div class="image">
            <img src="../statics/images/degree page (1).png">
        </div >

        <div class="degree">
            <h1>Your degree is:  </h1>
            <input type="text">
        </div>
        <button class="exam_page">Exams page</button>

    </section>

  


</body>