<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <figure  id="img" onmouseenter="mouseon()"  onmouseleave="mouseou()" >
                <img src="{{ url_for('static', filename='images/logoimg.png') }}" alt="a" id="img">
            </figure>
        <div class="lo">
            <div>
            <p>Exams Center</p>
                <div class="rightt">
            <div class="iteem">
                <button  class="logout"><a href="{{ url_for('index')}}" class="special">Log Out</a></button>
            </div>
        </div>
        </div>
        <article>
            <div class="create">
                <div class="itom">
                    <button  class="creato"><a href="{{ url_for('doccreateexam')}}" class="special">Create an Exam</a></button>
                </div>
            </div>
            </div>
        </article>
    </header> 
    <div class = "card-container">
        <!-- <div class="card">
        <h3 class="card-heading">card heading</h3>
        <p class="card-body">this is card body</p>
        </div> -->
    </div>
    <script src="..\static\js\index.js"></script>
</body>
</html>